*{    
    max-inline-size: 100%;
    box-sizing: border-box;

}

body{
    margin: auto;
    background-color: whitesmoke;

}

a{
    font-size: 20px;
    margin-left: 50px; 
    color: 口black；
}
.name{
    font-size: 40px;
}
.menu-container{
    background-color: white;
    padding: 29px;
}
.brianpic{
    float: left;
    margin-left: 60px;
    height: 600px;

}
.info-container{
    background: linear-gradient(to right, gray, white); 
    margin: 70px;
    display: flex;
    flex-wrap: wrap;
    min-height: 550px;
    border-radius: 50% 3%;
    

}
.text-info-container{
    flex: 1;
    padding: 20px;
    overflow-wrap: break-word;
}
.aboutme{
    font-size: 40px;
}
span{
    font-size: 50px;
}
.wrapper{
    display: flex;
    align-items: center;
    
}
.essupng{
    width: 400px;
    height: 300px;
}
.about-container{
    width: 300px;
    padding:20px;
    background-color: lawngreen;
}
.aboutme-container{

    display: flex;
    justify-content: center;
    align-items: center;
}
